#newsletter-build {
	position: relative;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
	font-size: 100%;
	max-width: 600px;
	background: #fff;
	margin: 10px;
	border: 1px solid #777;
	padding-top: 123px;
	background-image: url('../images/wsu-announcements-banner-580x119.png');
	background-repeat: no-repeat;
}

.newsletter-build-tip {
	font-style: italic;
	font-size: 15px;
	margin: 50px;
}

.newsletter-item {
	position: relative;
	margin: 10px 25px 15px 10px;
	cursor: move;
	float: left;
}

.newsletter-item:hover {
	border: 1px dashed #ccc;
	padding: 5px;
	margin: 4px 19px 9px 4px;
}

.newsletter-item .newsletter-item-remove {
	display: none;
}

.newsletter-item:hover .newsletter-item-remove {
	position: absolute;
	bottom: 0;
	right: 0;
	display: block;
	width: 100px;
	border: 1px solid #ccc;
	color: #333;
	background: #b3c7e1;
	text-align: center;
	font-size: 13px;
	line-height: 18px;
	cursor: pointer;
}

.newsletter-item:hover .newsletter-item-remove:hover {
	color: #ececec;
	background: #f04040;
}

#newsletter-build .newsletter-item h3 {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	color: #262a2d;
	cursor: auto;
	font-family: 'Open Sans Condensed', 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
	font-weight: 700;
}

#newsletter-build .newsletter-item h3 a {
	color: #ac0404;
	text-decoration: none;
}

#newsletter-build .newsletter-item h3 a:hover {
	color: #ac0404;
}

#newsletter-build .newsletter-item p {
	color: #222222;
	margin: 10px 0 0 0;
}

#newsletter-build .newsletter-item p a {
	color: #ac0404;
	text-decoration: underline;
}

.newsletter-date {
	font-family: "Lucide Grande", Helvetica, arial, sans-serif;
	font-size: 18px;
	font-weight: 200;
	position: absolute;
	top: 30px;
	right: 12px;
	color: #777;
}

.newsletter-footer {
	clear: left;
	padding-top: 0;
	border-top: 1px dashed #ccc;
}

.newsletter-footer p {
	font-style: italic;
	margin: 10px 20px 10px 10px;
}

.newsletter-head p {
	font-style: italic;
	margin: 0 20px 10px 10px;
}